<h1>Stats</h1>

<h2>Registered Members</h2>
<table>
    <thead>
        <td>PID</td>
        <td>First Name</td>
        <td>Last Name</td>
    </thead>
    <tbody>
        <tr *ngFor="let user of users$ | async">
            <td>{{ user.pid }}</td>
            <td>{{ user.first_name}}</td>
            <td>{{ user.last_name }}</td>
             <!-- this is gonna be a button eventually -->
            <td> Delete User </td>

        </tr>
    </tbody>
</table>

<h2>Checkins</h2>

<table>
    <thead>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Date</td>
    </thead>
    <tbody>
        <tr *ngFor="let checkin of transformedCheckins$ | async">
            <td>{{ checkin.user.first_name }}</td>
            <td>{{ checkin.user.last_name}}</td>
            <td>{{ checkin.created_at }}</td>
        </tr>
    </tbody>
</table>

<hr>

<a routerLink="/">Home</a>